@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FBFBFA;
  --foreground: #111111;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Premium Typography Helper */
.text-balance-custom {
  text-wrap: balance;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #FBFBFA;
}
::-webkit-scrollbar-thumb {
  background: #C5A880;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #B3956E;
}
